a:link {
  color: purple; }

.unsplash {
  display: table-footer-group;
  align-items: center;
  clear: both;
  position: absolute;
  bottom: 0; }

ul {
  text-align: center; }

li {
  list-style: none;
  display: inline-table;
  padding-bottom: 1rem; }
  li :not(:last-child) {
    margin-right: 2.5rem; }

.copyright {
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  padding-bottom: 3rem; }
